<log4net>
	<root>
		<level value="ALL"/>
		<!--choose option log-->
		<appender-ref ref="rollingtxtfile"></appender-ref>
	</root>
	<!--log to file-->
	<appender name="txtfile" type="log4net.Appender.FileAppender">
		<file value="logs\log-file.txt" />
		<appendToFile value="true"></appendToFile>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger.%method [%line] - MESSAGE: %message%newline"></conversionPattern>
		</layout>
	</appender>

	<!--log rolling file-->
	<appender name="rollingtxtfile" type="log4net.Appender.RollingFileAppender">
		<file value="logs\log-rolling-file.txt" />
		<appendToFile value="true"></appendToFile>
		<maximumFileSize value="10KB"></maximumFileSize>
		<maxSizeRollBackups value="3"></maxSizeRollBackups>

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger.%method [%line] - MESSAGE: %message%newline"></conversionPattern>
		</layout>
	</appender>
</log4net>